<!DOCTYPE html>
<html
    lang="ru"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout :: page('Заклинания', 'spells', ~{::main})}"
>
<body>
<main class="shell">
    <form
        id="spell-filters"
        th:action="@{/spells}"
        action="/spells"
        method="get"
        class="search-panel"
        data-filters-panel
        hx-get="/spells"
        hx-target="#spell-results"
        hx-push-url="true"
        hx-trigger="submit, input changed delay:300ms from:#query, change from:.filter-option"
    >
        <div class="query-field" data-spell-suggest>
            <label for="query">Название</label>
            <input
                id="query"
                type="search"
                name="q"
                th:value="${view.query}"
                placeholder="Поиск"
                autocomplete="off"
                role="combobox"
                aria-autocomplete="list"
                aria-controls="spell-suggestions"
                aria-expanded="false"
            >
            <ul
                id="spell-suggestions"
                class="spell-suggestions"
                role="listbox"
                aria-label="Подсказки заклинаний"
                hidden
            ></ul>
        </div>
        <button
            class="filters-toggle"
            type="button"
            aria-label="Фильтры"
            aria-expanded="false"
            aria-controls="spell-filters"
            data-filters-toggle
        >
            <span class="filters-toggle-label">Фильтры</span>
            <span
                class="material-icons-outlined filters-toggle-icon"
                aria-hidden="true"
            >filter_alt</span>
        </button>
        <div th:replace="~{fragments/multi-select :: multiSelect(
            'level', 'level', 'Уровень', ${view.levels}, 'Уровни'
        )}"></div>
        <div th:replace="~{fragments/multi-select :: multiSelect(
            'school', 'school', 'Школа', ${view.schools}, 'Школы'
        )}"></div>
        <div th:replace="~{fragments/multi-select :: multiSelect(
            'class', 'class', 'Класс', ${view.characterClasses}, 'Классы'
        )}"></div>
        <button
            class="search-submit"
            type="submit"
            name="view"
            value="cards"
            aria-label="Найти"
        >
            <span class="search-submit-label">Найти</span>
            <span
                class="material-icons-outlined search-submit-icon"
                aria-hidden="true"
            >search</span>
        </button>
    </form>

    <div id="spell-results">
        <div th:replace="~{spells/results :: results(${view})}"></div>
    </div>
</main>
</body>
</html>
